In [1]:
import pandas as pd
import numpy as np

In [33]:
ibkr_file = "/Users/sanathnair/Developer/trading/data/ibkr/DailyTradeReport.20230815.html"

In [60]:
dfs = pd.read_html(ibkr_file)

In [61]:
df = dfs[1]

In [62]:
df

,Acct ID,Symbol,Symbol.1,Trade Date/Time,Settle Date,Exchange,Type,Quantity,Price,Proceeds,Comm,Fee,Order Type,Code
0,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks
1,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,U***5820,AAP,AAP,"2023-08-15, 13:21:43",2023-08-17,-,BUY,1,69.5700,-69.57,0.00,0.00,MKT,O
3,Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),1,69.5700,-69.57,0.00,0.00,NaN,NaN
4,U***5820,AAP,AAP,"2023-08-15, 13:28:38",2023-08-17,-,SELL,-1,69.6300,69.63,0.00¹,0.00,MKT,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,U***5820,ZUMZ,ZUMZ,"2023-08-15, 09:51:58",2023-08-17,-,SELL,-6,17.7800,106.68,0.00¹,0.00,MKT,C
320,Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),-6,17.7800,106.68,0.00,0.00,NaN,NaN
321,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,0,NaN,-0.12,0.00,0.00,NaN,NaN
322,Total,Total,Total,Total,Total,Total,Total,Total,Total,-19.49,-0.23,0.00,NaN,NaN
323,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only

In [63]:
df = df.drop(df.index[[0, 1, -1, -2]])

In [64]:
df

,Acct ID,Symbol,Symbol.1,Trade Date/Time,Settle Date,Exchange,Type,Quantity,Price,Proceeds,Comm,Fee,Order Type,Code
2,U***5820,AAP,AAP,"2023-08-15, 13:21:43",2023-08-17,-,BUY,1,69.5700,-69.57,0.00,0.00,MKT,O
3,Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),1,69.5700,-69.57,0.00,0.00,NaN,NaN
4,U***5820,AAP,AAP,"2023-08-15, 13:28:38",2023-08-17,-,SELL,-1,69.6300,69.63,0.00¹,0.00,MKT,C
5,Total AAP (Sold),Total AAP (Sold),Total AAP (Sold),Total AAP (Sold),Total AAP (Sold),Total AAP (Sold),Total AAP (Sold),-1,69.6300,69.63,0.00,0.00,NaN,NaN
6,Total AAP,Total AAP,Total AAP,Total AAP,Total AAP,Total AAP,Total AAP,0,NaN,0.06,0.00,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,U***5820,ZUMZ,ZUMZ,"2023-08-15, 09:45:01",2023-08-17,-,BUY,6,17.8000,-106.80,0.00,0.00,MKT,O
318,Total ZUMZ (Bought),Total ZUMZ (Bought),Total ZUMZ (Bought),Total ZUMZ (Bought),Total ZUMZ (Bought),Total ZUMZ (Bought),Total ZUMZ (Bought),6,17.8000,-106.80,0.00,0.00,NaN,NaN
319,U***5820,ZUMZ,ZUMZ,"2023-08-15, 09:51:58",2023-08-17,-,SELL,-6,17.7800,106.68,0.00¹,0.00,MKT,C
320,Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),-6,17.7800,106.68,0.00,0.00,NaN,NaN
321,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,0,NaN,-0.12,0.00,0.00,NaN,NaN

In [65]:
df = df[df["Code"].notna()]

In [66]:
df

,Acct ID,Symbol,Symbol.1,Trade Date/Time,Settle Date,Exchange,Type,Quantity,Price,Proceeds,Comm,Fee,Order Type,Code
2,U***5820,AAP,AAP,"2023-08-15, 13:21:43",2023-08-17,-,BUY,1,69.5700,-69.57,0.00,0.00,MKT,O
4,U***5820,AAP,AAP,"2023-08-15, 13:28:38",2023-08-17,-,SELL,-1,69.6300,69.63,0.00¹,0.00,MKT,C
7,U***5820,ADRT,ADRT,"2023-08-15, 09:46:05",2023-08-17,-,BUY,9,11.5000,-103.50,0.00,0.00,MKT,O
9,U***5820,ADRT,ADRT,"2023-08-15, 09:52:59",2023-08-17,-,SELL,-9,11.4550,103.10,0.00¹,0.00,MKT,C
12,U***5820,AGL,AGL,"2023-08-15, 12:54:28",2023-08-17,-,BUY,6,18.0800,-108.48,0.00,0.00,MKT,O;P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,U***5820,WRB,WRB,"2023-08-15, 10:01:27",2023-08-17,-,SELL,-2,63.5229,127.05,0.00¹,0.00,MKT,C
312,U***5820,XOM,XOM,"2023-08-15, 12:44:57",2023-08-17,-,BUY,1,108.3777,-108.38,0.00,0.00,MKT,O
314,U***5820,XOM,XOM,"2023-08-15, 12:51:56",2023-08-17,-,SELL,-1,108.3311,108.33,0.00¹,0.00,MKT,C
317,U***5820,ZUMZ,ZUMZ,"2023-08-15, 09:45:01",2023-08-17,-,BUY,6,17.8000,-106.80,0.00,0.00,MKT,O
319,U***5820,ZUMZ,ZUMZ,"2023-08-15, 09:51:58",2023-08-17,-,SELL,-6,17.7800,106.68,0.00¹,0.00,MKT,C

In [67]:
df = df[["Symbol", "Trade Date/Time", "Type", "Quantity", "Price"]].copy()

In [68]:
df["Trade Date/Time"] = pd.to_datetime(df["Trade Date/Time"], format = "%Y-%m-%d, %H:%M:%S")
df["Trade Date/Time"] = df["Trade Date/Time"] - pd.Timedelta(hours = 3)

In [69]:
df["Broker Executed"] = df["Trade Date/Time"].dt.strftime('%I:%M:%S')

In [70]:
df

    Symbol     Trade Date/Time  Type Quantity     Price Broker Executed
2      AAP 2023-08-15 10:21:43   BUY        1   69.5700        10:21:43
4      AAP 2023-08-15 10:28:38  SELL       -1   69.6300        10:28:38
7     ADRT 2023-08-15 06:46:05   BUY        9   11.5000        06:46:05
9     ADRT 2023-08-15 06:52:59  SELL       -9   11.4550        06:52:59
12     AGL 2023-08-15 09:54:28   BUY        6   18.0800        09:54:28
..     ...                 ...   ...      ...       ...             ...
309    WRB 2023-08-15 07:01:27  SELL       -2   63.5229        07:01:27
312    XOM 2023-08-15 09:44:57   BUY        1  108.3777        09:44:57
314    XOM 2023-08-15 09:51:56  SELL       -1  108.3311        09:51:56
317   ZUMZ 2023-08-15 06:45:01   BUY        6   17.8000        06:45:01
319   ZUMZ 2023-08-15 06:51:58  SELL       -6   17.7800        06:51:58

[128 rows x 6 columns]

In [71]:
df["Quantity"] = pd.to_numeric(df["Quantity"])
df["Quantity"] = df["Quantity"].abs()
df["Price"] = pd.to_numeric(df["Price"])

In [72]:
df = df.rename(columns = {
    "Type": "Action",
    "Quantity": "Size"
})

In [73]:
df

    Symbol     Trade Date/Time Action  Size     Price Broker Executed
2      AAP 2023-08-15 10:21:43    BUY     1   69.5700        10:21:43
4      AAP 2023-08-15 10:28:38   SELL     1   69.6300        10:28:38
7     ADRT 2023-08-15 06:46:05    BUY     9   11.5000        06:46:05
9     ADRT 2023-08-15 06:52:59   SELL     9   11.4550        06:52:59
12     AGL 2023-08-15 09:54:28    BUY     6   18.0800        09:54:28
..     ...                 ...    ...   ...       ...             ...
309    WRB 2023-08-15 07:01:27   SELL     2   63.5229        07:01:27
312    XOM 2023-08-15 09:44:57    BUY     1  108.3777        09:44:57
314    XOM 2023-08-15 09:51:56   SELL     1  108.3311        09:51:56
317   ZUMZ 2023-08-15 06:45:01    BUY     6   17.8000        06:45:01
319   ZUMZ 2023-08-15 06:51:58   SELL     6   17.7800        06:51:58

[128 rows x 6 columns]

In [74]:
def get_ibkr_report(ibkr_file):
    df = pd.read_html(ibkr_file)
    df = df[1]
    df.drop(index = df.index[:2], inplace = True)
    df_sub = df[["Trade Date/Time", "Symbol", "Quantity", "Price", "Code"]]
    df_sub = df_sub[df_sub["Code"].notna()]
    df_sub["Code"] = df_sub["Code"].str[0]
    df_sub["Action"] = np.where(df_sub["Code"] == "O", "Buy", "Sell")
    df_sub = df_sub.drop("Code", axis = 1)
    df_sub = df_sub.drop(df.index[-1])
    df_sub["Trade Date/Time"] = pd.to_datetime(df_sub["Trade Date/Time"])
    df_sub["Trade Date/Time"] = df_sub["Trade Date/Time"] - pd.Timedelta(hours = 3)
    df_sub = df_sub.set_axis(["Broker Executed", "Symbol", "Quantity", "Price", "Action"], axis = 1)
    df_sub["Quantity"] = df_sub["Quantity"].astype("int64").abs()
    df_sub["Price"] = df_sub["Price"].astype("float64")
    df_sub["Dollar Amt"] = (df_sub["Price"] * df_sub["Quantity"]).abs().round(2)
    return df_sub

In [92]:
%%timeit
get_ibkr_report(ibkr_file)

25.5 ms ± 800 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [32]:
def get_ibkr_report2(ibkr_file):
    dfs = pd.read_html(ibkr_file)
    df = dfs[1]
    df = df.drop(df.index[[0, 1, -1, -2]])
    df = df[df["Code"].notna()]
    df = df[["Symbol", "Trade Date/Time", "Type", "Quantity", "Price"]].copy()

    df["Trade Date/Time"] = pd.to_datetime(df["Trade Date/Time"], format = "%Y-%m-%d, %H:%M:%S")
    df["Trade Date/Time"] = df["Trade Date/Time"] - pd.Timedelta(hours = 3)
    df["Broker Executed"] = df["Trade Date/Time"].dt.strftime('%I:%M:%S')

    df["Quantity"] = pd.to_numeric(df["Quantity"])
    df["Quantity"] = df["Quantity"].abs()
    df["Price"] = pd.to_numeric(df["Price"])
    df["Dollar Amt"] = df["Quantity"] * df["Price"]

    df = df.rename(columns = {
        "Type": "Action",
        "Quantity": "Size"
    })
    return df

In [34]:
get_ibkr_report2(ibkr_file)

,Symbol,Trade Date/Time,Action,Size,Price,Broker Executed,Dollar Amt
2,AAP,2023-08-15 10:21:43,BUY,1,69.5700,10:21:43,69.5700
4,AAP,2023-08-15 10:28:38,SELL,1,69.6300,10:28:38,69.6300
7,ADRT,2023-08-15 06:46:05,BUY,9,11.5000,06:46:05,103.5000
9,ADRT,2023-08-15 06:52:59,SELL,9,11.4550,06:52:59,103.0950
12,AGL,2023-08-15 09:54:28,BUY,6,18.0800,09:54:28,108.4800
...,...,...,...,...,...,...,...
309,WRB,2023-08-15 07:01:27,SELL,2,63.5229,07:01:27,127.0458
312,XOM,2023-08-15 09:44:57,BUY,1,108.3777,09:44:57,108.3777
314,XOM,2023-08-15 09:51:56,SELL,1,108.3311,09:51:56,108.3311
317,ZUMZ,2023-08-15 06:45:01,BUY,6,17.8000,06:45:01,106.8000
319,ZUMZ,2023-08-15 06:51:58,SELL,6,17.7800,06:51:58,106.6800

In [10]:
df[df["Symbol"] == "AMTX"]

   Symbol     Trade Date/Time Action  Size   Price Broker Executed  Dollar Amt
42   AMTX 2023-08-15 10:30:43    BUY    16  6.2883        10:30:43    100.6128
44   AMTX 2023-08-15 12:12:55   SELL    16  6.2330        12:12:55     99.7280

In [6]:
thing = pd.Series({"a": 1, "b": 2, "c": 3})

In [9]:
thing[:] = None

In [10]:
thing

a   NaN
b   NaN
c   NaN
dtype: float64

In [5]:
file = "/Users/sanathnair/Developer/trading/data/ibkr/ibkr_12_18.csv"

In [6]:
df = pd.read_csv(file)
df

,Acct ID,Symbol,Trade Date/Time,Unnamed: 3,Settle Date,Exchange,Type,Quantity,Price,Proceeds,Comm,Fee,Order Type,Code
0,U***5820,BATL,2023-12-18,2:34:55 PM,2023-12-20,-,BUY,10,9.5800,-95.80,0.0,0.0,MKT,O
1,U***5820,BATL,2023-12-18,2:41:54 PM,2023-12-20,-,SELL,-10,9.5800,95.80,0.0,0.0,MKT,C
2,U***5820,GEVO,2023-12-18,2:35:58 PM,2023-12-20,-,BUY,81,1.2450,-100.84,0.0,0.0,MKT,O
3,U***5820,GEVO,2023-12-18,2:44:16 PM,2023-12-20,-,SELL,-81,1.2407,100.50,0.0,0.0,MKT,C
4,U***5820,MICS,2023-12-18,1:38:00 PM,2023-12-20,-,BUY,1,1.1289,-1.13,0.0,0.0,MKT,O
5,U***5820,MICS,2023-12-18,1:41:07 PM,2023-12-20,-,BUY,1,1.1300,-1.13,0.0,0.0,MKT,O
6,U***5820,MICS,2023-12-18,1:50:56 PM,2023-12-20,-,BUY,1,1.1300,-1.13,0.0,0.0,MKT,O
7,U***5820,MICS,2023-12-18,1:53:00 PM,2023-12-20,-,BUY,1,1.1187,-1.12,0.0,0.0,MKT,O
8,U***5820,MICS,2023-12-18,1:38:22 PM,2023-12-20,-,SELL,-1,1.1000,1.10,0.0,0.0,LMT,C
9,U***5820,MICS,2023-12-18,1:46:27 PM,2023-12-20,-,SELL,-1,1.1050,1.10,0.0,0.0,MKT,C
10,U***5820,MICS,2023-12-18,1:51:03 PM,2023-12-20,-,SELL,-1,1.1050,1.10,0.0,0.0,MKT,C
11,U***5820,MICS,2023-12-18,1:53:07 PM,2023-12-20,-,SELL,-1,1.1050,1.10,0.0,0.0,MKT,C
12,U***5820,PROV,2023-12-18,2:44:39 PM,2023-12-20,-,BUY,8,12.1200,-96.96,0.0,0.0,MKT,O
13,U***5820,PROV,2023-12-18,3:14:22 PM,2023-12-20,-,SELL,-8,12.1200,96.96,0.0,0.0,MKT,C
14,U***5820,RAVE,2023-12-18,2:35:26 PM,2023-12-20,-,BUY,45,2.2200,-99.90,0.0,0.0,MKT,O
15,U***5820,RAVE,2023-12-18,2:42:29 PM,2023-12-20,-,SELL,-45,2.2463,101.08,0.0,0.0,MKT,C
16,U***5820,RM,2023-12-18,2:34:21 PM,2023-12-20,-,BUY,4,24.4950,-97.98,0.0,0.0,MKT,O
17,U***5820,RM,2023-12-18,2:41:20 PM,2023-12-20,-,SELL,-4,24.4950,97.98,0.0,0.0,MKT,C
18,U***5820,VRM,2023-12-18,1:53:17 PM,2023-12-20,-,BUY,1,0.8426,-0.84,0.0,0.0,MKT,O;SF
19,U***5820,VRM,2023-12-18,2:28:04 PM,2023-12-20,-,BUY,1,0.8289,-0.83,0.0,0.0,MKT,O;SF
20,U***5820,VRM,2023-12-18,1:53:25 PM,2023-12-20,-,SELL,-1,0.8364,0.84,0.0,0.0,MKT,C;SF
21,U***5820,VRM,2023-12-18,2:28:13 PM,2023-12-20,-,SELL,-1,0.8218,0.82,0.0,0.0,MKT,C;SF

In [4]:
df.columns

Index(['Acct ID', 'Symbol', 'Trade Date/Time', 'Unnamed: 3', 'Settle Date',
       'Exchange', 'Type', 'Quantity', 'Price', 'Proceeds', 'Comm', 'Fee',
       'Order\r\nType', 'Code'],
      dtype='object')

In [7]:
df = df.drop(['Acct ID', 'Trade Date/Time', 'Settle Date', "Exchange", 'Proceeds', 'Comm', 'Fee',
              'Order\nType', 'Code'], axis = 1)
df

KeyError: "['Order\\nType'] not found in axis"

In [38]:
df["Unnamed: 3"] = pd.to_datetime(df["Unnamed: 3"], format = "%I:%M:%S %p") - pd.Timedelta(
    hours = 3)
df

    Symbol          Unnamed: 3  Type  Quantity     Price
0      AAP 1900-01-01 08:26:13   BUY         2   63.1297
1      AAP 1900-01-01 08:33:22  SELL        -2   62.8378
2     AAPL 1900-01-01 11:48:36   BUY         1  184.5500
3     AAPL 1900-01-01 11:54:40  SELL        -1  184.1621
4      AGL 1900-01-01 08:35:17   BUY         8   13.1400
..     ...                 ...   ...       ...       ...
98     VRM 1900-01-01 12:48:31  SELL        -1    0.6058
99     XOM 1900-01-01 12:40:40   BUY         1  102.0550
100    XOM 1900-01-01 12:13:46  SELL        -1  102.3223
101   ZUMZ 1900-01-01 08:16:27   BUY         5   20.5500
102   ZUMZ 1900-01-01 08:22:30  SELL        -5   20.4255

[103 rows x 5 columns]

In [39]:
df["Broker Executed"] = df["Unnamed: 3"].dt.strftime('%I:%M:%S')
df

    Symbol          Unnamed: 3  Type  Quantity     Price Broker Executed
0      AAP 1900-01-01 08:26:13   BUY         2   63.1297        08:26:13
1      AAP 1900-01-01 08:33:22  SELL        -2   62.8378        08:33:22
2     AAPL 1900-01-01 11:48:36   BUY         1  184.5500        11:48:36
3     AAPL 1900-01-01 11:54:40  SELL        -1  184.1621        11:54:40
4      AGL 1900-01-01 08:35:17   BUY         8   13.1400        08:35:17
..     ...                 ...   ...       ...       ...             ...
98     VRM 1900-01-01 12:48:31  SELL        -1    0.6058        12:48:31
99     XOM 1900-01-01 12:40:40   BUY         1  102.0550        12:40:40
100    XOM 1900-01-01 12:13:46  SELL        -1  102.3223        12:13:46
101   ZUMZ 1900-01-01 08:16:27   BUY         5   20.5500        08:16:27
102   ZUMZ 1900-01-01 08:22:30  SELL        -5   20.4255        08:22:30

[103 rows x 6 columns]

In [40]:
df["Quantity"] = pd.to_numeric(df["Quantity"])
df["Quantity"] = df["Quantity"].abs()
df

    Symbol          Unnamed: 3  Type  Quantity     Price Broker Executed
0      AAP 1900-01-01 08:26:13   BUY         2   63.1297        08:26:13
1      AAP 1900-01-01 08:33:22  SELL         2   62.8378        08:33:22
2     AAPL 1900-01-01 11:48:36   BUY         1  184.5500        11:48:36
3     AAPL 1900-01-01 11:54:40  SELL         1  184.1621        11:54:40
4      AGL 1900-01-01 08:35:17   BUY         8   13.1400        08:35:17
..     ...                 ...   ...       ...       ...             ...
98     VRM 1900-01-01 12:48:31  SELL         1    0.6058        12:48:31
99     XOM 1900-01-01 12:40:40   BUY         1  102.0550        12:40:40
100    XOM 1900-01-01 12:13:46  SELL         1  102.3223        12:13:46
101   ZUMZ 1900-01-01 08:16:27   BUY         5   20.5500        08:16:27
102   ZUMZ 1900-01-01 08:22:30  SELL         5   20.4255        08:22:30

[103 rows x 6 columns]

In [41]:
df["Dollar Amt"] = df["Quantity"] * df["Price"]
df = df.rename(columns = {
    "Type": "Action",
    "Quantity": "Size"
})
df

,Symbol,Unnamed: 3,Action,Size,Price,Broker Executed,Dollar Amt
0,AAP,1900-01-01 08:26:13,BUY,2,63.1297,08:26:13,126.2594
1,AAP,1900-01-01 08:33:22,SELL,2,62.8378,08:33:22,125.6756
2,AAPL,1900-01-01 11:48:36,BUY,1,184.5500,11:48:36,184.5500
3,AAPL,1900-01-01 11:54:40,SELL,1,184.1621,11:54:40,184.1621
4,AGL,1900-01-01 08:35:17,BUY,8,13.1400,08:35:17,105.1200
...,...,...,...,...,...,...,...
98,VRM,1900-01-01 12:48:31,SELL,1,0.6058,12:48:31,0.6058
99,XOM,1900-01-01 12:40:40,BUY,1,102.0550,12:40:40,102.0550
100,XOM,1900-01-01 12:13:46,SELL,1,102.3223,12:13:46,102.3223
101,ZUMZ,1900-01-01 08:16:27,BUY,5,20.5500,08:16:27,102.7500
102,ZUMZ,1900-01-01 08:22:30,SELL,5,20.4255,08:22:30,102.1275

In [42]:
def _get_ibkr_report(ibkr_file):
    df = pd.read_csv(ibkr_file)
    df = df.drop(
        ['Acct ID', 'Trade Date/Time', 'Settle Date', "Exchange", 'Proceeds', 'Comm', 'Fee',
         'Order\nType', 'Code'], axis = 1)
    df["Unnamed: 3"] = pd.to_datetime(df["Unnamed: 3"], format = "%I:%M:%S %p") - pd.Timedelta(
    hours = 3)
    df["Broker Executed"] = df["Unnamed: 3"].dt.strftime('%I:%M:%S')
    df["Quantity"] = pd.to_numeric(df["Quantity"])
    df["Quantity"] = df["Quantity"].abs()
    df["Dollar Amt"] = df["Quantity"] * df["Price"]
    df = df.rename(columns = {
        "Type": "Action",
        "Quantity": "Size"
    })
    return df

In [43]:
_get_ibkr_report(file)

,Symbol,Unnamed: 3,Action,Size,Price,Broker Executed,Dollar Amt
0,AAP,1900-01-01 08:26:13,BUY,2,63.1297,08:26:13,126.2594
1,AAP,1900-01-01 08:33:22,SELL,2,62.8378,08:33:22,125.6756
2,AAPL,1900-01-01 11:48:36,BUY,1,184.5500,11:48:36,184.5500
3,AAPL,1900-01-01 11:54:40,SELL,1,184.1621,11:54:40,184.1621
4,AGL,1900-01-01 08:35:17,BUY,8,13.1400,08:35:17,105.1200
...,...,...,...,...,...,...,...
98,VRM,1900-01-01 12:48:31,SELL,1,0.6058,12:48:31,0.6058
99,XOM,1900-01-01 12:40:40,BUY,1,102.0550,12:40:40,102.0550
100,XOM,1900-01-01 12:13:46,SELL,1,102.3223,12:13:46,102.3223
101,ZUMZ,1900-01-01 08:16:27,BUY,5,20.5500,08:16:27,102.7500
102,ZUMZ,1900-01-01 08:22:30,SELL,5,20.4255,08:22:30,102.1275