In [1]:
import pandas as pd
import numpy as np

In [9]:
ibkr_file = "/Users/sanathnair/Developer/trading/data/ibkr/DailyTradeReport.20230815.html"

In [60]:
dfs = pd.read_html(ibkr_file)

In [61]:
df = dfs[1]

In [62]:
df

,Acct ID,Symbol,Symbol.1,Trade Date/Time,Settle Date,Exchange,Type,Quantity,Price,Proceeds,Comm,Fee,Order Type,Code
0,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks,Stocks
1,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,U***5820,AAP,AAP,"2023-08-15, 13:21:43",2023-08-17,-,BUY,1,69.5700,-69.57,0.00,0.00,MKT,O
3,Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),1,69.5700,-69.57,0.00,0.00,NaN,NaN
4,U***5820,AAP,AAP,"2023-08-15, 13:28:38",2023-08-17,-,SELL,-1,69.6300,69.63,0.00¹,0.00,MKT,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,U***5820,ZUMZ,ZUMZ,"2023-08-15, 09:51:58",2023-08-17,-,SELL,-6,17.7800,106.68,0.00¹,0.00,MKT,C
320,Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),-6,17.7800,106.68,0.00,0.00,NaN,NaN
321,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,0,NaN,-0.12,0.00,0.00,NaN,NaN
322,Total,Total,Total,Total,Total,Total,Total,Total,Total,-19.49,-0.23,0.00,NaN,NaN
323,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only,NotesRegulatory fees only

In [63]:
df = df.drop(df.index[[0, 1, -1, -2]])

In [64]:
df

,Acct ID,Symbol,Symbol.1,Trade Date/Time,Settle Date,Exchange,Type,Quantity,Price,Proceeds,Comm,Fee,Order Type,Code
2,U***5820,AAP,AAP,"2023-08-15, 13:21:43",2023-08-17,-,BUY,1,69.5700,-69.57,0.00,0.00,MKT,O
3,Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),Total AAP (Bought),1,69.5700,-69.57,0.00,0.00,NaN,NaN
4,U***5820,AAP,AAP,"2023-08-15, 13:28:38",2023-08-17,-,SELL,-1,69.6300,69.63,0.00¹,0.00,MKT,C
5,Total AAP (Sold),Total AAP (Sold),Total AAP (Sold),Total AAP (Sold),Total AAP (Sold),Total AAP (Sold),Total AAP (Sold),-1,69.6300,69.63,0.00,0.00,NaN,NaN
6,Total AAP,Total AAP,Total AAP,Total AAP,Total AAP,Total AAP,Total AAP,0,NaN,0.06,0.00,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,U***5820,ZUMZ,ZUMZ,"2023-08-15, 09:45:01",2023-08-17,-,BUY,6,17.8000,-106.80,0.00,0.00,MKT,O
318,Total ZUMZ (Bought),Total ZUMZ (Bought),Total ZUMZ (Bought),Total ZUMZ (Bought),Total ZUMZ (Bought),Total ZUMZ (Bought),Total ZUMZ (Bought),6,17.8000,-106.80,0.00,0.00,NaN,NaN
319,U***5820,ZUMZ,ZUMZ,"2023-08-15, 09:51:58",2023-08-17,-,SELL,-6,17.7800,106.68,0.00¹,0.00,MKT,C
320,Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),Total ZUMZ (Sold),-6,17.7800,106.68,0.00,0.00,NaN,NaN
321,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,Total ZUMZ,0,NaN,-0.12,0.00,0.00,NaN,NaN

In [65]:
df = df[df["Code"].notna()]

In [66]:
df

,Acct ID,Symbol,Symbol.1,Trade Date/Time,Settle Date,Exchange,Type,Quantity,Price,Proceeds,Comm,Fee,Order Type,Code
2,U***5820,AAP,AAP,"2023-08-15, 13:21:43",2023-08-17,-,BUY,1,69.5700,-69.57,0.00,0.00,MKT,O
4,U***5820,AAP,AAP,"2023-08-15, 13:28:38",2023-08-17,-,SELL,-1,69.6300,69.63,0.00¹,0.00,MKT,C
7,U***5820,ADRT,ADRT,"2023-08-15, 09:46:05",2023-08-17,-,BUY,9,11.5000,-103.50,0.00,0.00,MKT,O
9,U***5820,ADRT,ADRT,"2023-08-15, 09:52:59",2023-08-17,-,SELL,-9,11.4550,103.10,0.00¹,0.00,MKT,C
12,U***5820,AGL,AGL,"2023-08-15, 12:54:28",2023-08-17,-,BUY,6,18.0800,-108.48,0.00,0.00,MKT,O;P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,U***5820,WRB,WRB,"2023-08-15, 10:01:27",2023-08-17,-,SELL,-2,63.5229,127.05,0.00¹,0.00,MKT,C
312,U***5820,XOM,XOM,"2023-08-15, 12:44:57",2023-08-17,-,BUY,1,108.3777,-108.38,0.00,0.00,MKT,O
314,U***5820,XOM,XOM,"2023-08-15, 12:51:56",2023-08-17,-,SELL,-1,108.3311,108.33,0.00¹,0.00,MKT,C
317,U***5820,ZUMZ,ZUMZ,"2023-08-15, 09:45:01",2023-08-17,-,BUY,6,17.8000,-106.80,0.00,0.00,MKT,O
319,U***5820,ZUMZ,ZUMZ,"2023-08-15, 09:51:58",2023-08-17,-,SELL,-6,17.7800,106.68,0.00¹,0.00,MKT,C

In [67]:
df = df[["Symbol", "Trade Date/Time", "Type", "Quantity", "Price"]].copy()

In [68]:
df["Trade Date/Time"] = pd.to_datetime(df["Trade Date/Time"], format = "%Y-%m-%d, %H:%M:%S")
df["Trade Date/Time"] = df["Trade Date/Time"] - pd.Timedelta(hours = 3)

In [69]:
df["Broker Executed"] = df["Trade Date/Time"].dt.strftime('%I:%M:%S')

In [70]:
df

    Symbol     Trade Date/Time  Type Quantity     Price Broker Executed
2      AAP 2023-08-15 10:21:43   BUY        1   69.5700        10:21:43
4      AAP 2023-08-15 10:28:38  SELL       -1   69.6300        10:28:38
7     ADRT 2023-08-15 06:46:05   BUY        9   11.5000        06:46:05
9     ADRT 2023-08-15 06:52:59  SELL       -9   11.4550        06:52:59
12     AGL 2023-08-15 09:54:28   BUY        6   18.0800        09:54:28
..     ...                 ...   ...      ...       ...             ...
309    WRB 2023-08-15 07:01:27  SELL       -2   63.5229        07:01:27
312    XOM 2023-08-15 09:44:57   BUY        1  108.3777        09:44:57
314    XOM 2023-08-15 09:51:56  SELL       -1  108.3311        09:51:56
317   ZUMZ 2023-08-15 06:45:01   BUY        6   17.8000        06:45:01
319   ZUMZ 2023-08-15 06:51:58  SELL       -6   17.7800        06:51:58

[128 rows x 6 columns]

In [71]:
df["Quantity"] = pd.to_numeric(df["Quantity"])
df["Quantity"] = df["Quantity"].abs()
df["Price"] = pd.to_numeric(df["Price"])

In [72]:
df = df.rename(columns = {
    "Type": "Action",
    "Quantity": "Size"
})

In [73]:
df

    Symbol     Trade Date/Time Action  Size     Price Broker Executed
2      AAP 2023-08-15 10:21:43    BUY     1   69.5700        10:21:43
4      AAP 2023-08-15 10:28:38   SELL     1   69.6300        10:28:38
7     ADRT 2023-08-15 06:46:05    BUY     9   11.5000        06:46:05
9     ADRT 2023-08-15 06:52:59   SELL     9   11.4550        06:52:59
12     AGL 2023-08-15 09:54:28    BUY     6   18.0800        09:54:28
..     ...                 ...    ...   ...       ...             ...
309    WRB 2023-08-15 07:01:27   SELL     2   63.5229        07:01:27
312    XOM 2023-08-15 09:44:57    BUY     1  108.3777        09:44:57
314    XOM 2023-08-15 09:51:56   SELL     1  108.3311        09:51:56
317   ZUMZ 2023-08-15 06:45:01    BUY     6   17.8000        06:45:01
319   ZUMZ 2023-08-15 06:51:58   SELL     6   17.7800        06:51:58

[128 rows x 6 columns]

In [74]:
def get_ibkr_report(ibkr_file):
    df = pd.read_html(ibkr_file)
    df = df[1]
    df.drop(index = df.index[:2], inplace = True)
    df_sub = df[["Trade Date/Time", "Symbol", "Quantity", "Price", "Code"]]
    df_sub = df_sub[df_sub["Code"].notna()]
    df_sub["Code"] = df_sub["Code"].str[0]
    df_sub["Action"] = np.where(df_sub["Code"] == "O", "Buy", "Sell")
    df_sub = df_sub.drop("Code", axis = 1)
    df_sub = df_sub.drop(df.index[-1])
    df_sub["Trade Date/Time"] = pd.to_datetime(df_sub["Trade Date/Time"])
    df_sub["Trade Date/Time"] = df_sub["Trade Date/Time"] - pd.Timedelta(hours = 3)
    df_sub = df_sub.set_axis(["Broker Executed", "Symbol", "Quantity", "Price", "Action"], axis = 1)
    df_sub["Quantity"] = df_sub["Quantity"].astype("int64").abs()
    df_sub["Price"] = df_sub["Price"].astype("float64")
    df_sub["Dollar Amt"] = (df_sub["Price"] * df_sub["Quantity"]).abs().round(2)
    return df_sub

In [92]:
%%timeit
get_ibkr_report(ibkr_file)

25.5 ms ± 800 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [4]:
def get_ibkr_report2(ibkr_file):
    dfs = pd.read_html(ibkr_file)
    df = dfs[1]
    df = df.drop(df.index[[0, 1, -1, -2]])
    df = df[df["Code"].notna()]
    df = df[["Symbol", "Trade Date/Time", "Type", "Quantity", "Price"]].copy()
    
    df["Trade Date/Time"] = pd.to_datetime(df["Trade Date/Time"], format = "%Y-%m-%d, %H:%M:%S")
    df["Trade Date/Time"] = df["Trade Date/Time"] - pd.Timedelta(hours = 3)
    df["Broker Executed"] = df["Trade Date/Time"].dt.strftime('%I:%M:%S')
    
    df["Quantity"] = pd.to_numeric(df["Quantity"])
    df["Quantity"] = df["Quantity"].abs()
    df["Price"] = pd.to_numeric(df["Price"])
    df["Dollar Amt"] = df["Quantity"] * df["Price"]
    
    df = df.rename(columns = {
        "Type": "Action",
        "Quantity": "Size"
    })
    return df

In [6]:
df = get_ibkr_report2(ibkr_file)

In [10]:
df[ df["Symbol"] == "AMTX"]

   Symbol     Trade Date/Time Action  Size   Price Broker Executed  Dollar Amt
42   AMTX 2023-08-15 10:30:43    BUY    16  6.2883        10:30:43    100.6128
44   AMTX 2023-08-15 12:12:55   SELL    16  6.2330        12:12:55     99.7280

In [6]:
thing = pd.Series({"a": 1, "b": 2, "c": 3})

In [9]:
thing[:] = None

In [10]:
thing

a   NaN
b   NaN
c   NaN
dtype: float64