In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../reports/original/report_07_20.csv")
df.head()

,Date,Program Submitted,Program Executed,Broker Executed,Symbol,Broker,Action,Size,Price,Dollar Amt,...,Pre Bid,Pre Ask,Post Bid,Post Ask,Pre Volume,Post Volume,Order Type,Split,Order ID,Activity ID
0,07/20/23,07:35:05:654075,07:35:06:842257,NaN,OXM,RH,Buy,1.0,NaN,NaN,...,107.71,107.81,107.71,107.81,13065.0,13065.0,Limit,False,64b9461a-fc8f-4e2b-afa2-539c413d6090,NaN
1,07/20/23,07:35:07:891766,07:35:08:075178,07:35:08,OXM,TD,Buy,1.0,107.79,107.79,...,107.70,107.88,107.70,107.88,13352.0,13353.0,Market,False,11290374024,5.784156e+10
2,07/20/23,07:35:09:900252,07:35:17:127937,NaN,OXM,SB,Buy,1.0,NaN,NaN,...,107.70,107.88,107.73,107.88,13353.0,13365.0,Market,False,NaN,NaN
3,07/20/23,07:35:18:905361,07:35:24:407149,NaN,OXM,FD,Buy,1.0,NaN,NaN,...,107.73,107.88,107.82,107.98,13410.0,13696.0,Market,False,NaN,NaN
4,07/20/23,07:35:26:293561,07:35:27:469983,1689863727449,OXM,ET,Buy,1.0,107.98,107.98,...,107.82,107.98,107.82,107.98,13696.0,13697.0,Market,False,40613,NaN

In [9]:
df.loc[(df["Broker"] == "ET") | (df["Broker"] == "E2")]

,Date,Program Submitted,Program Executed,Broker Executed,Symbol,Broker,Action,Size,Price,Dollar Amt,...,Pre Bid,Pre Ask,Post Bid,Post Ask,Pre Volume,Post Volume,Order Type,Split,Order ID,Activity ID
4,07/20/23,07:35:26:293561,07:35:27:469983,1689863727449,OXM,ET,Buy,1.0,107.980000,107.9800,...,107.82,107.98,107.82,107.98,13696.0,13697.0,Market,False,40613,NaN
5,07/20/23,07:35:28:767835,07:35:29:967482,1689863729925,OXM,E2,Buy,1.0,107.980000,107.9800,...,107.29,107.70,107.29,107.70,9131.0,9131.0,Market,False,236,NaN
10,07/20/23,07:35:50:875034,07:35:51:583188,1689863751548,APT,ET,Buy,26.0,3.910000,101.6600,...,3.90,3.91,3.90,3.91,1248.0,1274.0,Market,False,40614,NaN
11,07/20/23,07:35:52:171495,07:35:52:978124,1689863752916,APT,E2,Buy,26.0,3.910000,101.6600,...,3.91,3.92,3.91,3.92,988.0,988.0,Market,False,237,NaN
16,07/20/23,07:36:14:101204,07:36:14:822622,1689863774790,ASB,ET,Buy,5.0,18.300000,91.5000,...,18.29,18.30,18.29,18.30,355478.0,355478.0,Market,False,40615,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,07/20/23,11:34:55:140249,11:34:56:060350,1689878095895,ICCC,E2,Sell,18.0,5.499806,98.9965,...,5.50,5.64,5.50,5.64,5011.0,5011.0,Market,False,407,NaN
1045,07/20/23,11:34:56:777278,11:34:57:732554,1689878097440,HEAR,E2,Sell,9.0,10.469767,94.2279,...,10.50,10.52,10.50,10.52,63399.0,63399.0,Market,False,408,NaN
1046,07/20/23,11:34:58:928387,11:35:00:077834,1689878099976,AWR,E2,Sell,1.0,88.799100,88.7991,...,88.67,88.83,88.67,88.83,66217.0,66317.0,Market,False,409,NaN
1047,07/20/23,11:35:00:668941,11:35:01:669153,1689878101510,ATRA,E2,Sell,50.0,2.009838,100.4919,...,1.99,2.00,1.99,2.00,467655.0,467655.0,Market,False,410,NaN
1048,07/20/23,11:35:02:340802,11:35:03:149906,1689878103005,UNF,E2,Sell,1.0,156.298600,156.2986,...,156.22,156.65,156.22,156.65,21581.0,21581.0,Market,False,411,NaN